body {
    background-color: #f7f7f7;
}

.card-title, body {
     color: #2c4593;
}

.navbar {
    background-color: #fff !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Marca e links da navbar */
.navbar .navbar-brand,
.navbar .nav-link {
    color: #2c4593 !important;
}

.btn-primary {
    background-color: #323664 !important;
    border-color: #323664 !important;
}

.icone {
    color: #ffe100;
}
